
@import-normalize;


@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url("./fonts/JetBrainsMono-Regular.ttf") ;
}

@font-face {
  font-family: 'JetBrainsMono-Light';
  src: url("./fonts/JetBrainsMono-Light.ttf") ;
}
*{
  font-family: 'JetBriansMono-Regular', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  top: 0;
  padding: 0;
  margin: 0;
  background-color: #182935;
  color: #F6F7EB;
}