@import './variables.scss';

.btn{
    display: inline-block;
    padding: 15px 20px !important;
    background: gray;
    text-decoration: none;
    color: $light;
    &:hover{
        text-decoration: none;
        cursor: pointer
    }
}

.btn-primary{
    background-color: $secondary_color;
    box-shadow: $primary_shadow;
    color: "#ffffff";
}