@import 'Variables.scss';

.btn{
    display: inline-block;
    padding: 15px 20px !important;
    background: gray;
    text-decoration: none;
    color: $light;
    border: none;
}

.btn-primary{
    background-color: $secondary_color;
    box-shadow: $primary_shadow;
    color: "#ffffff";
    transition: all ease 0.2s;
    &:hover{
        text-decoration: none;
        cursor: pointer;
        box-shadow: $primary_shadow_effect;
    }
}

.btn-secondary{
    background-color: $primary_color;
    box-shadow: $dark_shadow;
    color: "#ffffff";
    transition: all ease 0.2s;
    &:hover{
        text-decoration: none;
        cursor: pointer;
        box-shadow: $dark_shadow_effect;
    }
}

.btn-red{
    background-color: $red;
    box-shadow: 0px 0px 20px $red;
    color: "#ffffff";
}