@import 'Variables.scss';

.contact{
    background-color: $acent;
    padding: 10px;

    

    form{
        min-height: 50vh;
        max-width: 600px;
        width: 100%;
        margin: auto;
        .main-data{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            #name{
                width:50%;
            }
            #mail{
                width: 40%;
            }
        }

        input[type="text"],input[type="email"],
        textarea{
            font-size: 18px;
            padding: 5px;
            border: solid 2px $dark_text;
            background-color: rgba(0, 0, 0, 0.0);
            font-family: 'JetBrainsMono-Light';
            color: $dark_text;
        }

        .message{
            margin-top: 20px;
            width: 100%;
            display: flex;
            textarea{
                width: 100%;
                min-height: 100px;
            }
        }

        .btn-form{
            display: flex;
            margin: 40px auto;
            flex-direction: row;
            justify-content: space-around;
            
       }
    }
}