@import 'Variables.scss';

header{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    background: $navbar_background_color;
    color: $navbar_color;
    display: flex;
    nav{
        width: 100%;
        background-color: $navbar_background_color;
        box-shadow: $shadow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .brand{
            display: inline-block;

            margin-left: 10px;
            a{
                text-decoration: none;
                color: #000;
                h1{
                    font-size: 22px;
                }
            }
        }


        .navbar-nav{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            li{
                display: inline-block;
                a{
                    font-family:  'OpenSansLight';
                    text-decoration: none;
                    color: #000;
                    display: inline-block;
                    padding: 5px 10px;
                    transition: all ease 0.2;

                    &:hover{
                        text-decoration: underline;
                    }
                }
                ul{
                    display: none;
                }

                select{
                    font-size: 18px;
                    background-color: #fff;
                    color: #000;
                    border: none 0px #000;
                    margin-right: 5px;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}