@import 'Variables.scss';

header{
    position: fixed;
    position: fi;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background: $navbar_background_color;
    display: flex;
    nav{
        width: 95%;
        background-color: $navbar_background_color;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        .brand{
            display: inline-block;

            margin-left: 10px;
            a{
                text-decoration: none;
                color: $navbar_color;
                h1{
                    font-size: 22px;
                }
            }
        }


        .navbar-nav{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            li{
                display: inline-block;
                a{
                    font-family:  'JetBrainsMono-Light';
                    text-decoration: none;
                    color: $navbar_color;;
                    display: inline-block;
                    padding: 5px 10px;
                    transition: all ease 0.2;
                }
                ul{
                    display: none;
                }

                select{
                    font-size: 18px;
                    background-color: $primary_color;
                    color: $light;
                    border: none 0px #000;
                    z-index: 99;
                    -moz-appearance: none;
                    appearance: none;
                    margin-right: 2px;

                    &:hover{
                        cursor: pointer;
                        
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 490px){
    header{
        nav{
            .navbar-nav{
                li{
                    a{
                        display: none;
                    }
                }
                
            }
        }
    }

}