@import 'Variables.scss';

.card{
    margin-top: 60px;
    min-width: 100%;
    .card-content{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        min-width: 250px;
        
        align-items: center;
        justify-content: space-around;
        height: auto;
        box-shadow: $shadow;
        padding: 15px;
        border-radius: 20px;
    
        .card-image{
            display: block;
            width: 40%;
            min-height: 100px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .card-body{
            display: block;
            width: 40%;
            .card-title{
                font-weight: normal;
                text-align: left;
                color: $secondary_color;
                text-transform: uppercase;
            }
    
            .card-subtitle{
                font-family: 'JetBrainsMono-Light';
                text-align: left;
                font-weight: normal;
            }
    
            .card-text{
                text-align: justify;
            }
    
            .card-footer{
                display: flex;
                .links{
                    display: block;
                    margin: auto;
                    a{
                        color: $light;
                        transition: all ease 0.3s;
                        &:hover{
                            color: $secondary_color;
                        }
                    }

                }
            }
        }
    }
}


@media screen and (max-width: 715px){
    .card{
        .card-content{
            flex-direction: column !important;
    
            .card-iamge{
                width: 80% !important ;
                margin: auto;
            }
    
            .card-body{
                width: 80% !important;
            }
        }
    }
    
}