@import 'Variables.scss';

.recent-projects{
    max-width: 980px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    
    .title{
        text-align: center;
        h2{
            font-weight: normal;
        }
    }

    .recent-projects-cards{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:960px){
    .recent-projects{
        .recent-projects-cards{
            display: block;
        }
    }
}