@import 'Variables.scss';

.tech-stack{
    max-width: 980px;
    width: 100%;
    margin: auto;
    .tech-stack-container{
        max-width: 80%;
        width: 100%;
        margin: auto;
        margin-top: -30px;
        padding: 10px;
        box-shadow: $shadow;
        background: #fff;
        border-radius: 20px;

        .title{
            text-align: center;
            font-weight: normal;
        }

        img{
            display: block;
            margin: auto;
        }
    }
}