$background: #121212;
$surface: #1E1E1E;
$primary_color: #0CDAC5;
$secondary_color: #BB86FC;
$light: #F6F7EB;
$acent: #253C4D;
$dark_text: #E0E1D9;
$red: #EF233C;

$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$primary_shadow: 0px 0px 20px $secondary_color;
$primary_shadow_effect: 0px 0px 10px $secondary_color;
$dark_shadow_effect: 0px 0px 10px $primary_color;
$dark_shadow: 0px 0px 20px $primary_color;

$navbar_background_color: $background;
$navbar_color: $light;
$default_transition: all ease 0.4s;